@import './utils/global_vars.scss';

.container {
    padding: 0 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 50vw;
    // If phone
    @media only screen and (max-width: $mobile-width){
      width: 85vw;
    }
  }

  .input {
    height: 47px;
    border: 0;
    font-size: 16px;
    border-bottom: 1px solid black;
    background-color: #fafafa;
  }

  .form{
      display: flex;
      flex-direction: column;
      gap: 20px;
  }