@import './utils/global_vars.scss';

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    

    @media only screen and (max-width: $mobile-width){
        align-items: center;
        flex-direction: column;
    }
}

.docDetails{
    padding: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pageSize{
    scale: 0.75;

    @media only screen and (max-width: $mobile-width){
        scale: 0.5;
    }
}