
.button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: Black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .navBarCenter {
      text-align:center;
      background-color: black;
      color: white;
      text-decoration: none;
  }
  
  .navButtons{
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
  }
  .navButtons :hover{
    background-color: white;
    color: black;
  }
  
  .navBarCenter :hover{
    background-color: white;
    color: black;
  }

  .icon, .icon2 {
      flex: 1;
      display: flex;
  }
  .icon{
    justify-content: flex-start;
    padding: 5px 0px 5px 5px;
  }

  .icon2{
      justify-content: flex-end;
      padding: 5px 5px 5px 0px;
  }

  .displayRight{
    flex: 1;
    justify-content: flex-end;
    
    color: white;
  }