@import './utils/global_vars.scss';

.input {
  height: 50px;
  text-indent: 10px;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 16px;
  background-color: #fafafa;
}

.container {
  padding: 0 2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
  font-size: 32px;
  font-weight: bold;
 }

.searchBar {
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    outline: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 70vw;
    // If phone
    @media only screen and (max-width: $mobile-width){
      width: 85vw;
    }
  }
  
  .searchText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
    background: rgba(187, 35, 42, 0.2);
    border-radius: 10px 0px 0px 10px;
  }

  .searchButton {
    border: none;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    height: 50px;
    width: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    background-color: #eaeaea;
    
  }
  .searchButton:hover{
    background-color: rgba(187, 35, 42, 0.2);
  }


.button {
    padding: 12px;
    background: black;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  .button:hover{
    background-color: #BB232A;
  }

  .docDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px;
  }

  .docObject{
    padding: 5px;
    width: 150px;
    height: 200px;
    background-color: white;
    color: black;
    border: 0.5px solid black;
  }

  .pSm{
    font-size: 10px;
    margin: 0;
    padding: 2px 0px;
    width: 150px;
  }

  .pMd{
    font-size: 16px;
    margin: 0;
    padding: 2px 0px;
    font-weight: 600;
    width: 150px;
  }