@import './utils/global_vars.scss';

.container {
    padding: 0 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


    width: 50vw;
    // If phone
    @media only screen and (max-width: $mobile-width){
      width: 85vw;
    }

  }
  .title{
   font-size: 32px;
   font-weight: bold;
  }
  
  .divContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }
  
  .input {
    width: 95%;
    height: 47px;
    border: 0;
    font-size: 16px;
    border-bottom: 1px solid black;
    background-color: #fafafa;
  }
  
  .subBoxPadding {
    padding: 20px;
    background-color: #fafafa;
  }
  
  .submissionBox {
    padding: 50px;
    border: 1px dashed black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .label {
    border: 1px solid black;
    border-radius: 15px;
    width: 100px;
    background-color: black;
    color: white;
    display: block;
    cursor: pointer;
  }
  .label:hover {
    background-color: darkred;
  }
  
  .fileInput{
      visibility: hidden;
      display: block;
      height: 0px;
    }