@import  '../utils/global_vars.scss';


.heading {
  text-align: center;

  padding: 20px;
}

.main {
  @media only screen and (min-width:  $mobile-width) {
    display: grid;
  }
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.body{ 
  padding: 20px;

}