.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  line-height: 1.5;
  padding: 10px;
  color: #4a4a4a;
}

.heading{
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
  padding: 20px;
}