@mixin font-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
@mixin font {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}


$white: #fff;
$black: #000;
$bg :  #f8f8f8;
$grey: #999;
$dark: #1a1a1a;
$light: #e6e6e6;
$wrapper: 1000px;
$blue: #00b0ff;

.messageContainer{
  height: 900px;
  overflow: scroll;
  padding: 0 35px 92px;
  overscroll-behavior-y: none;
}

.write {
  min-width: 300px;
  width:100%;
  border: 1px solid $light;
  background-color: #eceff1;
  border-radius: 5px;
  input {
    font-size: 16px;
    height: 40px;
    width: 100%;
    color: $dark;
    background-color: #eceff1;
    @include font;
  }
}

.inputContainer{

  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: $bg;
  height: 70px;
  width: 100%;
}



.right {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: $bg;
  border-left: solid;
  border-color: #999999;


  .chat{
    position: relative;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: $light;
    height: 100% ;
    justify-content: flex-end;
    flex-direction: column;
  }
  .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    &:before {
      position: absolute;
      top: 19px;
      display: block;
      width: 8px;
      height: 6px;
      content: '\00a0';
      transform: rotate(29deg) skew(-35deg);
    }
    &.you {
      float: left;
      color: $white;
      background-color: #00b0ff;
      align-self: flex-start;
      animation-name: slideFromLeft;
      &:before {
        left: -3px;
        background-color: #00b0ff;
      }
    }
    &.me {
      float: right;
      color: $dark;
      background-color: #eceff1;
      align-self: flex-end;
      animation-name: slideFromRight;
      &:before {
        right: -3px;
        background-color: #eceff1;
      }
    }
  }

}


@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}



