@import '../utils/global_vars.scss';

.main{
  // If screen > 600px
  @media only screen and (min-width: $mobile-width) {
    display: flex;
    
  }
  // If phone
  @media only screen and (max-width:  $mobile-width) {
    
  }

  height: 100vh;
  align-items: center;
}

.bodyLeft{
  @media only screen and (min-width: $mobile-width) {
  }
  display: grid;
  height: 100vh;
  width: 100vw;
}

.bodyRight{
  height: 100vh;
  display: grid;
  @media only screen and (min-width:  $mobile-width) {
    width: 50vw;
  }
  @media only screen and (max-width: $mobile-width) {
    width: 100vw;
  }
  display: grid;
}