@import  '../utils/global_vars.scss';

.main {
  // If phone
  @media only screen and (max-width:  $mobile-width) {
    display: grid;
    width: 100%;
  }
  height: 100vh;
  justify-items: center;
}

.heading{ 
  text-align: center;
  
}


.body{
  padding: 60px;
  display: grid;
  justify-items: center;
}


.footer{
 text-align: center;
}